footer {
    background-color: $cyna-color;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    opacity: 75%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 5px;    
    h3 {
        padding-top: 5%;
        font-size: 16px;
        padding-bottom: 5%;
    }
    
    p {
        padding-top: 2%;
        opacity: 70%;
        font-size: 12px;
        font-weight: 400px;
        
    }

}